.boton-detalles {
  margin-top: 12px;     
  padding: 8px 12px;       
  border: none; 
  border-radius: 8px;
  background: #222;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.boton-detalles:hover {
  background: #444;
}

.lista-platos-pedido {
  margin-top: 12px;
  padding-left: 20px;
}

.boton-cancelar {
  margin-top: 12px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background: #ff4d4d;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.boton-cancelar:hover {
  background: #e60000;
}
